    <footer class="footer">
        <a  class="bottom_info" href="#" style="padding-right: 10px; padding-bottom: 0px;">Join Us</a>
        <a  class="bottom_info" href="#" style="padding-right: 10px; padding-bottom: 0px;">Contact me</a>
        <a  class="bottom_info" href="#" style="padding-right: 10px; padding-bottom: 0px;">About</a>
        <p style="color: white; cursor: default">Copy Right -- Da Xu 2018</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>